<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedule</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <nav>
            <div class="navbar">
                <a href="{{ url_for('schedule') }}" class="logo">
                    <img src="{{ url_for('static', filename='logo.png') }}" alt="Logo" class="logo-image">
                    ICTU
                </a>
                <ul class="nav-links">
                    <li><a href="{{ url_for('schedule') }}">Trang chủ</a></li>
                    <li><a href="#" id="logout">Đăng xuất</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <div class="welcome-section">
                <h1>Xin chào, {{ username }}!</h1>
                <p>Xem thông tin của bạn</p>
            </div>
            <div class="dashboard-section">
                <a href="{{ url_for('exam') }}" class="dashboard-card">
                    <h2>Lịch thi</h2>
                    <p>Xem và kiểm tra lịch thi</p>
                </a>
                <a href="{{ url_for('scores_view') }}" class="dashboard-card">
                    <h2>Điểm</h2>
                    <p>Xem điểm chi tiết</p>
                </a>
                <a href="{{ url_for('notes_view') }}" class="dashboard-card">
                    <h2>Ghi chú</h2>
                    <p>Tạo và xem ghi chú</p>
                </a>
            </div>
            <div class="schedule-container">
                <h2>Lịch học</h2>
                <div id="schedule"></div>
            </div>
        </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function(){
        $('#logout').on('click', function(event){
            event.preventDefault();
            $.ajax({
                url: '/api/logout',
                type: 'POST',
                success: function(response){
                    if(response.message){
                        window.location.href = "{{ url_for('index') }}";
                    }
                },
                error: function(xhr, status, error) {
                    console.error("Logout request failed:", status, error);
                }
            });
        });
    });
    $(document).ready(function(){
            $.ajax({
                url: '/api/schedule',
                type: 'GET',
                success: function(response){
                    if(response.error){
                        $('#schedule').text(response.message).addClass('error-message');
                    } else {
                        const schedule = response.schedule;
                        const today = new Date();
                        today.setHours(0, 0, 0, 0);
                        let scheduleHTML = '';
                        const daysOfWeek = {
                            "Monday": "Thứ Hai",
                            "Tuesday": "Thứ Ba",
                            "Wednesday": "Thứ Tư",
                            "Thursday": "Thứ Năm",
                            "Friday": "Thứ Sáu",
                            "Saturday": "Thứ Bảy",
                            "Sunday": "Chủ Nhật"
                        };
                        let hasSchedule = false;

                        for (const week in schedule) {
                            const weekData = schedule[week];
                            const startDate = new Date(weekData.start_date);
                            const endDate = new Date(weekData.end_date);
                            endDate.setHours(23, 59, 59, 999);

                            if (endDate >= today) {
                                const startDateString = startDate.toLocaleDateString('vi-VN', { year: 'numeric', month: 'numeric', day: 'numeric' });
                                const endDateString = endDate.toLocaleDateString('vi-VN', { year: 'numeric', month: 'numeric', day: 'numeric' });
                                scheduleHTML += `<div class="week-container">
                                    <h3 class="week-header">Tuần ${week} (${startDateString} - ${endDateString})</h3>
                                    <div class="week-schedule">`;

                                Object.values(daysOfWeek).forEach(day => {
                                    const daySchedule = weekData.courses.filter(course => {
                                        const courseDate = new Date(course[0]);
                                        return courseDate.toLocaleDateString('en-US', { weekday: 'long' }) === Object.keys(daysOfWeek).find(key => daysOfWeek[key] === day);
                                    });

                                    scheduleHTML += `<div class="day-container ${daySchedule.length ? 'has-classes' : 'no-classes'}">
                                        <div class="day-header">${day}</div>
                                        <div class="day-schedule">`;

                                    if (daySchedule.length) {
                                        hasSchedule = true;
                                        daySchedule.forEach(course => {
                                        scheduleHTML += `
                                            <div class="course">
                                                <div class="course-header">
                                                    <div class="course-title-container">
                                                        <span class="course-name">${course[1]}</span>
                                                        <span class="course-code">${course[2]}</span>
                                                    </div>
                                                    <div class="course-time">${course[3]}</div>
                                                </div>
                                                <div class="course-details">
                                                    <p><strong>Giảng viên:</strong> ${course[4]}</p>
                                                    <p><strong>Địa điểm:</strong> ${course[5]}</p>
                                                    <p><strong>Số tín chỉ:</strong> ${course[6]}</p>
                                                    <p><strong>Mã Meet:<br></strong> ${course[7] !== "N/A" ? course[7] : "Không có mã Meet"}</p>
                                                </div>
                                                <div class="course-action">
                                                    ${course[8] !== "N/A"
                                                        ? `<a href="${course[8]}" target="_blank" class="meet-link">Tham gia Meet</a>`
                                                        : `<span class="no-meet-link">Không có Meet</span>`}
                                                </div>
                                            </div>`;
                                    });
                                    } else {
                                        scheduleHTML += `<p class="no-classes-message">Không có lịch học</p>`;
                                    }

                                    scheduleHTML += `</div></div>`;
                                });

                                scheduleHTML += `</div></div>`;
                            }
                        }

                        if (!hasSchedule) {
                            scheduleHTML = '<p class="no-schedule-message">Không có lịch học trong thời gian tới!</p>';
                        }

                        $('#schedule').html(scheduleHTML);
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    $('#schedule').text('Đã xảy ra lỗi: ' + textStatus).addClass('error-message');
                }
            });
        });
</script>
</body>
</html>
